# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
project.xcworkspace
profile
*.moved-aside
DerivedData
.idea/
.svn/
*.hmap
*.xccheckout
node_modules/
xcshareddata/
Nova/iOSInjectionProject/
Nova/Pods/Pods.xcodeproj/xcuserdata/
Nova/Podfile
Nova/.cache_specs
Nova/Podfile.local
Nova/.cache_sdk_specs
Nova/Pods/
Nova/Podfile.lock
